.logoutButton{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 30px;
    padding: 10px;
    font-size: 12px;
    background-color: #FF0000;
    border-color: #FF0000;
    color: #fff;
}
.item-container{
    padding: 5px;
    height: 20px;
    width: 200px;
    border-style: solid;
    margin: 5px;
}
.large-item{
    cursor: pointer;
    background-color: #7B68EE;
    font-size: 15px;
}
.medium-item{
    cursor: pointer;
    background-color: #00BFFF;
    font-size: 12px;
}
.small-item{
    cursor: pointer;
    background-color: #E6E6FA;
    font-size: 10px;
}
.red{
    color: red;
    position: absolute;
}